
p {
    text-align: center;
}

.planning-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-section {
    align-items: center;
    padding: 1%;
    border: 1px solid black;
}



